<% @list.movies.each do |movie|%>
          <div class = "card col-lg-3 col-sm-12 p-0 m-0" id = "<%=@sortable_id%>">
            <div class = "card_box" id = "<%=movie.sort%>">
              <%=image_tag("https://image.tmdb.org/t/p/w500#{movie.poster_url}", class: "card_photo")%>
            </div>
            <div class = "card-body">
              <h5><%= movie.title%></h5>
              <strong>Rating: <%=movie.rating%></strong>
              <div class ="card_text"><%= movie.overview%></div>
            </div>
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <%= button_to "remove from list", bookmark_path(bookmark), method: :delete, class: "button_submit" %>
          </div>
        <%end%>
